.header {
  text-align: center;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    text-shadow: -5px 0px 4px #111;
    width: auto;

    img {
      width: 12rem;
      height: 10rem;
      cursor: pointer;
      height: auto;
      padding: 1rem;
      border-radius: 3px;

      @media (max-width: 500px) {
        width: 8rem;
      }
    }

    .select {
      color: black;
    }

    img:hover {
      background: lightgreen;
    }
  }
}

.arrow {
  width: 2rem;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5rem;
  box-shadow: 5px 5px 5px #000;
  padding: 3px;
  transition: 0.1s all ease-in;
  background: black;

  &:hover {
    transform: scale(1.2);
  }
}
