.header {
  text-align: center;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    text-shadow: -5px 0px 4px #111;
    width: auto;

    img {
      width: 12rem;
      height: 10rem;
      cursor: pointer;
      height: auto;
      padding: 1rem;
      border-radius: 3px;

      @media (max-width: 500px) {
        width: 8rem;
      }
    }

    .select {
      color: black;
    }

    img:hover {
      background: lightgreen;
    }
  }
}
